body{
    background: rgb(102, 23, 23);
    margin: auto;
    text-align: center;
    width: 650px;
    color:rgb(167, 148, 46);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: rgb(163, 53, 1);
}