body{
    background-image: url(https://thoibaonganhang.vn/stores/news_dataimages/minhvl/012021/04/11/1354_0654_shutterstock_1654083868-2048x1152.jpg);
    margin: auto;
    text-align: center;
    width: 650px;
    color:rgb(44, 56, 42);
}

h1{
    color: rgb(60, 255, 0);
}